<p style="color: green"><%= notice %></p>

<h1>Twitus</h1>

<div id="tweets">
  <table id="tabla">
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Descripción</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tweets.each do |tweet| %>
        <tr>
          <td><%= tweet.userName %></td>
          <td><%= tweet.description %></td>
          <td><%= link_to "Ver tweet", tweet, class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
  $('#tabla').DataTable( {
      "language": {
          "lengthMenu": "Mostrar _MENU_ entradas",
          "zeroRecords": "No se encontraron registros",
          "info": "Mostrando página _PAGE_ de _PAGES_",
          "infoEmpty": "No records available",
          "infoFiltered": "(filtered from _MAX_ total records)",
          "sSearch":"Buscar",
          "oPaginate":{
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
        }
      },
      "lengthMenu": false, // Oculta el mostrador de entradas
      "paging": false // Desactiva el paginado
  });
});

</script>

</div>
<div class="container">
  <div class="row justify-content-end">
    <div class="col-12 col-md-4 text-right">
      <div class="ml-auto">
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>
