<!DOCTYPE html>
<html>
  <head>
    <title>Twitus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!--link de bootstrap y de dataTable-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    </head>

  <body>
  
    <div class="p-5 bg-success text-white text-center">
  <h1>Twitus</h1>
  <p>Esto es un Clon de Twitter</p> 
</div>
<hr>
<%= render 'shared/navbar' %>
<hr>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-1">
      
    </div>

    <div class="col-sm-9">

    

    <%= yield %>





    </div>
  </div>
</div>

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Twitus - Alberto Góngora - Clon de Twitter - 2023</p>
</div>
    <div class="container">
      <div class="row">
        <div class="col">
        
        </div>

      </div>
    </div>

    <!--Script de JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--Script del plugin dataTable-->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="JavaScript/main.js"></script>
    <!--Script de bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
